.admin-dashboard {
    display: flex;
    overflow: hidden;
    width: 100%;
    min-height: calc(100vh - 130px);
}


/* Admin Sidebar */

.admin-sidebar {
    flex: 2;
   border-right: 1px solid var(--dark-color);
   padding: 20px;

}

.admin-sidebar-title {
    font-size: 24px;
    font-weight: bold;
    color: var(--dark-color);
    margin-bottom: 30px;
    display: block;
}

.admin-sidebar-title i {
    margin-right: 5px;
    color: var(--green-color);
}

.admin-dashboard-list {
    padding: 5px;
}

.admin-sidebar-link {
    color: var(--secondary-color);
    font-size: 21px;
    font-weight: 600;
    margin-bottom: 20px;
    cursor: pointer;
    display: block;
    border-bottom: 1px solid var(--dark-color);
}

.admin-sidebar-link i {
    margin-right: 5px;
    font-size: 25px;
}




/* Admin Main */
.admin-main {
    flex: 10;
    padding: 10px;
    background-color: aliceblue;
}

.admin-main-header {
    display: flex;
    align-items: center;
    justify-content: space-between;
    flex-wrap: wrap;
    margin-bottom: 30px;
    padding-bottom: 15px;
    border-bottom: 2px solid var(--dark-color);
}


.admin-main-card {
    border: 2px solid var(--dark-color);
    width: 22%;
    margin: 5px;
    margin-bottom: 10px;
    padding: 10px;
    border-radius: 10px;
}

.admin-card-title {
    font-size: 21px;
    font-weight: 450;
    color: var(--dark-color);

}

.admin-card-count {
    color: var(--primary-color);
    font-size: 24px;
    font-weight: 500;
    margin: 5px 0;
}

.admin-card-link-wrapper {
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.admin-card {
    font-size: 17px;
    background-color: var(--main-color);
    padding: 5px;
    border: 1px solid var(--dark-color);
    border-radius: 15px;
    font-weight: 500;
    color: var(--dark-color);
}
.admin-card:hover {

    background-color: var(--dark-color);

    color: var(--main-color);
}

.admin-card-link {
    width: 35px;
    height: 35px;
    border-radius: 10px;
    background-color: var(--main-color);
    display: flex;
    align-items: center;
    justify-content: center;
    font-size: 24px;
    color: var(--dark-color);
}

/* add category form*/

.add-category {
    margin: 10px auto;
    margin-top: 20px;
    width: 95%;
    border: 2px solid var(--dark-color);
    border-radius: 15px;
    padding: 20px;
}

.add-category-title {
    font-size: 24px;
    font-weight: 600;
    color: var(--dark-color);
    margin-bottom: 15px;
}

.add-category-form-group {
    margin-bottom: 15px;
    display: flex;
    flex-direction: column;
}

.add-category-form-group label {
    margin: 5px;
    font-size: 16px;
    font-weight: 400;
    color: var(--primary-color);
}
.add-category-form-group input {
    padding: 10px;
    border: 1px solid var(--primary-color);
    border-radius: 15px;
    font-size: 21px;
}

.add-category-btn {
    cursor: pointer;
    border: none;
    background-color: var(--dark-color);
    color: var(--main-color);
    width: 100%;
    font-size: 21px;
    font-weight: 500;
    border-radius: 15px;
    padding: 10px;
}


@media (max-width: 990px) {
    .admin-main-card {
        width: 45%;
    }
    
}
@media (max-width: 990px) {
    .admin-sidebar {
        display: none;
    }
    
}
@media (max-width: 520px) {
    .admin-main-card {
        width: 95%;
    }
    
}